<h1>Letter {{cap}}</h1>

{{#each titleName}}

<li>
    <a href="{{root}}detail/{{this.c}}">{{this.b}}</a><br>
</li>

{{/each}}

 <td>
    <form method="GET" action="/search/{{cap}}">
        <input type="hidden" name="cap" value="{{cap}}">
        <input type="hidden" name="offset" value={{ prevOffset }}>
        <button type="submit">Previous</button>
    </form>
</td>
<td>
    <form method="GET" action="/search/{{cap}}">
        <input type="hidden" name="cap" value="{{cap}}">
        <input type="hidden" name="offset" value={{ nextOffset }}>
        <button type="submit">Next</button>
    </form>

</td>
<td>
    <form method="GET" action="/">
        <button type="submit">Home</button>
    </form>

</td>
