
{{#each review}}
<h1>{{this.book_title}}</h1>
<h3>by {{this.book_author}}</h3>
<h3>Reviewer: {{this.byline}}</h3>
<h3>Date: {{this.publication_dt}}</h3>
<h5>{{this.summary}}</h5>
<a href="{{this.url}}" target="_blank">Full Review</a>
<h6>{{this.copyright}}</h6>

{{/each}}